<%= form_with(model: team) do |form| %>
<% if team.errors.any? %>
<div id="error_explanation" class="bg-red-50 p-6 rounded text-red-800">
  <h2 class="text-lg font-semibold mb-3"><%= pluralize(team.errors.count, "error") %> prohibited this team from being saved:</h2>

  <ul class="list-disc leading-relaxed">
    <% team.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <div class="mb-6">
        <%= form.label :team_name, class: label_class %>
          <%= form.text_field :team_name, class: input_class %>
      </div>

<%= form.submit class: button_class(theme: 'primary') %>

<% if team.persisted? %>
<%= link_to "Cancel", team, class: "text-neutral-700 underline inline-block ml-3" %>
<% else %>
<%= link_to "Cancel", teams_path, class:  "text-neutral-700 underline inline-block ml-3" %>
<% end %>
<% end %>
