<%= form_with(model: file_attachment) do |form| %>
<% if file_attachment.errors.any? %>
<div id="error_explanation" class="bg-red-50 p-6 rounded text-red-800">
  <h2 class="text-lg font-semibold mb-3"><%= pluralize(file_attachment.errors.count, "error") %> prohibited this file_attachment from being saved:</h2>

  <ul class="list-disc leading-relaxed">
    <% file_attachment.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <div class="mb-6">
        <%= form.label :task_id, class: label_class %>
          <%= form.select :task_id, options_from_collection_for_select( Task.all, 'id', 'title', selected = file_attachment.task_id), class: label_class %>
      </div>
  <div class="mb-6">
        <%= form.label :file_name, class: label_class %>
          <%= form.text_field :file_name, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :file_path, class: label_class %>
          <%= form.text_field :file_path, class: input_class %>
      </div>

<%= form.submit class: button_class(theme: 'primary') %>

<% if file_attachment.persisted? %>
<%= link_to "Cancel", file_attachment, class: "text-neutral-700 underline inline-block ml-3" %>
<% else %>
<%= link_to "Cancel", file_attachments_path, class:  "text-neutral-700 underline inline-block ml-3" %>
<% end %>
<% end %>
