<%= form_with(model: time_tracking) do |form| %>
<% if time_tracking.errors.any? %>
<div id="error_explanation" class="bg-red-50 p-6 rounded text-red-800">
  <h2 class="text-lg font-semibold mb-3"><%= pluralize(time_tracking.errors.count, "error") %> prohibited this time_tracking from being saved:</h2>

  <ul class="list-disc leading-relaxed">
    <% time_tracking.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <div class="mb-6">
        <%= form.label :task_id, class: label_class %>
          <%= form.select :task_id, options_from_collection_for_select( Task.all, 'id', 'name', selected = time_tracking.task_id), class: label_class %>
      </div>
  <div class="mb-6">
        <%= form.label :start_time, class: label_class %>
          <%= form.datetime_field :start_time, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :end_time, class: label_class %>
          <%= form.datetime_field :end_time, class: input_class %>
      </div>

<%= form.submit class: button_class(theme: 'primary') %>

<% if time_tracking.persisted? %>
<%= link_to "Cancel", time_tracking, class: "text-neutral-700 underline inline-block ml-3" %>
<% else %>
<%= link_to "Cancel", time_trackings_path, class:  "text-neutral-700 underline inline-block ml-3" %>
<% end %>
<% end %>
