<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Time_tracking</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to time_trackings_path, class: button_class(theme: "transparent") do %>
      All Time_trackings
      <% end %>
      <%= link_to edit_time_tracking_path(@time_tracking), class: button_class(theme:"primary") do %>
      Edit
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
      <li>
        <p class="font-semibold">Task:</p>
        <p><%= @time_tracking.task.title %></p>
      </li>
      <li>
        <p class="font-semibold">Start time:</p>
        <p><%= @time_tracking.start_time %></p>
      </li>
      <li>
        <p class="font-semibold">End time:</p>
        <p><%= @time_tracking.end_time %></p>
      </li>
  </ul>
</div>
