<%= form_with(model: report) do |form| %>
<% if report.errors.any? %>
<div id="error_explanation" class="bg-red-50 p-6 rounded text-red-800">
  <h2 class="text-lg font-semibold mb-3"><%= pluralize(report.errors.count, "error") %> prohibited this report from being saved:</h2>

  <ul class="list-disc leading-relaxed">
    <% report.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <div class="mb-6">
        <%= form.label :report_name, class: label_class %>
          <%= form.text_field :report_name, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :parameters, class: label_class %>
          <%= form.text_area :parameters, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :task_id, class: label_class %>
          <%= form.select :task_id, options_from_collection_for_select( Task.all, 'id', 'title', selected = report.task_id), class: label_class %>
      </div>

<%= form.submit class: button_class(theme: 'primary') %>

<% if report.persisted? %>
<%= link_to "Cancel", report, class: "text-neutral-700 underline inline-block ml-3" %>
<% else %>
<%= link_to "Cancel", reports_path, class:  "text-neutral-700 underline inline-block ml-3" %>
<% end %>
<% end %>
