<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Report</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to reports_path, class: button_class(theme: "transparent") do %>
      All Reports
      <% end %>
      <%= link_to edit_report_path(@report), class: button_class(theme:"primary") do %>
      Edit
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
      <li>
        <p class="font-semibold">Report name:</p>
        <p><%= @report.report_name %></p>
      </li>
      <li>
        <p class="font-semibold">Parameters:</p>
        <p><%= @report.parameters %></p>
      </li>
      <li>
        <p class="font-semibold">Task:</p>
        <p><%= @report.task.title %></p>
      </li>
  </ul>
</div>
